img {
    min-height: 100vh;
    width: auto;
    height: 100%;
    position: fixed;
    top: 0;
    left: 50%;
    margin-left: -25%;
}

/*.img-container {*/
    /*position: absolute;*/
    /*top: 0;*/
    /*left: 0;*/
    /*right: 0;*/
    /*bottom: 0;*/
/*}*/
